.about-head {
  text-align: center;
  font-size: xx-large;
  font-weight: bold;
  color: #040404;
  text-shadow: 2px 2px #d1d1d1;
  margin-top: 20px;
}
.about-tale {
  text-align: center;
  font-size: large;
  font-weight: bold;
  margin: auto;
  color: #1a1a1a;
  line-height: 1.6;
  background-color: blanchedalmond;
  width: 60%;
  text-align: center;
}
.about-main {
  background-color: #e9f68b;
  opacity: 90%;

  padding: 20px;
  background: linear-gradient(120deg, #f4f6fc 0%, e9eafc 100%);
  border-radius: 15px;
  box-shadow: 5px 10px #888888;
  width: 80%;
  height: auto;
  text-align: center;
  margin: auto;
}
.about-hr {
  border: 1px solid #ccc;
  margin: 40px 0;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}
.about-para {
  text-align: justify;
  font-size: medium;
  margin: 20px;
  color: #151515;
  font-weight: bolder;
  line-height: 1.6;
}
.about-subhead {
  text-align: center;
  font-size: x-large;
  font-weight: bold;
  color: #060606;
  text-shadow: 2px 2px #c2c2c2;
  margin-top: 20px;
}
.about-para1 {
  text-align: justify;
  font-size: medium;
  margin: 20px;
  color: #151515;
  font-weight: bolder;
  line-height: 1.6;
}
.about-subhead1 {
  text-align: center;
  font-size: x-large;
  font-weight: bold;
  color: #030303;
  text-shadow: 2px 2px #c2c2c2;
  margin-top: 20px;
}
.about-main2 {
  background-color: #b1f27b;
  opacity: 90%;
  padding: 20px;
  background: linear-gradient(120deg, #f4f6fc 0%, e9eafc 100%);
  border-radius: 15px;
  box-shadow: 5px 10px #888888;
  width: 80%;
  height: auto;
  text-align: center;
  margin: auto;
}

.about-subhead2 {
  text-align: center;
  font-size: x-large;
  font-weight: bold;
  color: #030303;
  text-shadow: 2px 2px #c2c2c2;
  margin-top: 20px;
  margin-bottom: 20px;
}
.about-para2 {
  text-align: justify;
  font-size: medium;
  margin: 20px;
  color: #151515;
  font-weight: bolder;
  text-align: center;
  line-height: 1.6;
}
.about-subhead3 {
  text-align: center;
  font-size: x-large;
  font-weight: bold;
  color: #030303;
  text-shadow: 2px 2px #c2c2c2;
  margin-top: 20px;
  margin-bottom: 20px;
}
.about-para3 {
  text-align: justify;
  font-size: medium;
  margin: 20px;
  color: #151515;
  font-weight: bolder;
  text-align: center;
  line-height: 1.6;
}
.about-subhead4 {
  text-align: center;
  font-size: x-large;
  font-weight: bold;
  color: #c58484;
  text-shadow: 2px 2px #c2c2c2;
  margin-top: 20px;
  margin-bottom: 20px;
}
.about-para4 {
  text-align: justify;
  font-size: medium;
  margin: 20px;
  color: #060606;
  font-weight: bolder;
  text-align: center;
  line-height: 1.6;
}
#but-contact {
  background-color: #2f0fbd;
  color: rgb(247, 244, 244);
  width: 250px;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  text-align: center;
  margin: auto;
  display: flex;
  justify-content: center;
  margin: auto;
  font-size: medium;
}
.about-butn {
  text-decoration: none;
  background-color: #2f0fbd;
  color: rgb(247, 244, 244);
  width: 250px;
  height: 50px;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  text-align: center;
  font-size: medium;
}
