.user-detail{
    margin-top: 10px;
   text-align: center;
   
}
.table-top{
    margin-top: 25px;
}
.user-del-button{
    background-color: rgb(238, 4, 4);
    color: white;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}