* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}
.adminlogin-main{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
body, html {
  height: 100%;
}

.login-wrapper {
  /* display: flex; */
  max-width: 900px;
 width: 100%;
  margin:  auto;
}
.main-adminlogin{
   border: 1px solid black;
  box-shadow: 3px 3px 8px 8px gray;
}

/* Left Section */
.login-left {
  flex: 1;
  background: linear-gradient(to bottom right, #3b2ec5, #2b1f91);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

.login-message {
  max-width: 400px;
}

.login-logo {
  font-size: 48px;
  margin-bottom: 20px;
}

.login-message h1 {
  font-size: 42px;
  line-height: 1.2;
  margin-bottom: 20px;
}

.login-message p {
  font-size: 16px;
  line-height: 1.6;
  color: #ccc;
}

/* Right Section */
.login-right {
  flex: 1;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

.form-container {
  width: 100%;
  max-width: 400px;
}

.form-container h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #222;
}

.form-container p {
  font-size: 14px;
  margin-bottom: 20px;
  color: #555;
}

.form-container a {
  color: #000;
  text-decoration: underline;
}

form input[type="email"],
form input[type="password"] {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: none;
  border-bottom: 1px solid #fcfbfb;
  font-size: 16px;
}

.btn-login {
  width: 100%;
  padding: 12px;
  background-color: #000;
  color: #fff;
  border: none;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 6px;
}

