* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

.main-dashboard {
  
  min-height: 100vh;
  background-color: #f5f7fa;
}

.container {
  display: flex;
  width: 100%;
}
.admin-head{
  text-align: center;
  font-size: xx-large;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 30px;
}

.sidebar {
  width: 420px;
  background-color: #2f3542;
  color: white;
  padding: 20px;
}

.sidebar h2 {
  margin-bottom: 30px;
}

.sidebar nav a {
  display: block;
  color: white;
  padding: 12px;
  margin-bottom: 8px;
  text-decoration: none;
  border-radius: 5px;
  transition: background 0.3s;
}

.sidebar nav a:hover {
  background-color: #57606f;
}

.main-content {
  padding: 20px;
  overflow-y: auto;
  width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

header input[type="search"] {
  padding: 8px 12px;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(2, minmax(180px, 1fr));
  gap: 20px;
}

.card {
  background-color: white;
  padding: 20px;
  /* border-left: 5px solid #1e90ff; */
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.card h3 {
  margin-bottom: 10px;
  font-size: 18px;
  color: #333;
}

.card p {
  font-size: 24px;
  font-weight: bold;
}
.admin-logout-btn{
  margin-top: 50px;
}
