.contact-head {
  text-align: center;
  font-size: xx-large;
  font-weight: bold;
  color: #030303;
  text-shadow: 2px 2px #c2c2c2;
  margin-top: 20px;
  margin-bottom: 20px;
}
.contact-head {
  text-align: center;
  font-size: xx-large;
  font-weight: bold;
  color: #030303;
  text-shadow: 2px 2px #c2c2c2;
  margin-top: 20px;
  margin-bottom: 20px;
}
h2 {
  text-align: center;
  font-size: x-large;
  font-weight: bold;
  color: #000000;
  margin-top: 20px;
  margin-bottom: 20px;
}
.contact-msg {
  text-align: center;
  font-size: xx-large;
  color: #000000;
  margin-top: 20px;
  margin-bottom: 20px;
}
.contact-info {
  margin-top: 50px;
  font-size: large;
  line-height: 1.8;
  color: #ffffff;
  background-color: rgb(20, 21, 21);
  font-weight: bolder;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding: 10px;
  border: 2px solid black;
  border-radius: 15px;
  box-shadow: 5px 10px #888888;
  width: 50%;
  text-align: center;
  margin: auto;
}

.right {
  flex: 2;
  background-color:moccasin ;
  padding: 40px;
  width: 60%;
  margin: auto;
  border-radius: 2rem;
  box-shadow: 5px 10px #888888;
}

.right h2 {
  margin-bottom: 10px;
  font-weight: bolder;
  font-size: x-large;
}

.right p {
  margin-bottom: 25px;
  font-size: 14px;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.form-row {
  display: flex;
  gap: 15px;
}

input,
select,
textarea {
  width: 100%;
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}

textarea {
  resize: none;
  min-height: 100px;
}

.checkbox {
  font-size: 13px;
}

.contact-butn {
  background: #000;
  color: #fff;
  width:60% ;
  margin: auto;
  padding: 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 15px;
}

.partners {
  margin-top: 30px;
  font-size: 14px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  color: #000;
}

.social-icons {
  display: flex;
  gap: 20px;
  margin-top: 100px;
  
}

.social-icons a {
  font-size: 28px;
  text-decoration: none;
  transition: color 0.3s ease;
  
}

.social-icons a:hover {
  color: #fff;
}
