.delete-main-div{
   display: flex;
    justify-content: center;
    align-items:center; 
}
.delete-main{
    border: solid,black,2px;
    background-color:rgb(250, 249, 249);
    margin-top: 80px;
    width: 550px;
    height: 600px;
    border-radius: 1rem;
}
.delete-head-main{
     text-align: center;
     margin-top: 20px;
}
.select-reason{
    margin-left: 20px;
    margin-top: 40px;
    font-weight:bold ;
}
.options{
    margin-left: 30px;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
}
.commentbox-head{
    margin-left: 20px;
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold ;
}

.comment-box{
    margin-left: 52px;
    width: 450px;
    height: "100px";
}
.delete-confirm-button{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items:center;
} 
.quote-delete{
    font-size:small;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: red;
    margin-top: 30px;
}
.delete-confirm{
    margin-top: 30px;
    width: 350px;
    height: 40px;
    background-color: rgb(205, 15, 15);
    text-align: center;
    font-size:larger;
    border-radius: 7px;
    color: rgb(252, 249, 249);
}
.cancel-main{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items:center;
}
