#nav-main1{
  width: 100%;
  margin-left: 0px;
  border-radius: 5px;
  padding: 5px;
  width: 450px;
} 


.nav-color {
  background: linear-gradient(90deg, #5c27fe 0%, #4577ce 60%);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
 
}
/* Navigation bar css */
.nav_home {
  color: rgb(235, 231, 231);
  font-weight: bold;
}

.nav_about {
  color: rgb(254, 250, 250);
  font-weight: bold;
}
#nav_profile {
  color: rgb(248, 247, 247);
  font-weight: bold;
  
}
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f2f0f0;
  height: 10  0vh;
}
#nav-but{
    width: 100px;
    height: 35px;
    color: beige;
    border-color:rgb(18, 19, 18);
    border-radius: 8rem;
}
#nav-but1{
    
    width: 100px;
    height: 35px;
    background: black;
    color: beige;
    border-color: black;
    border-radius: 1rem;
}
#premium-btn {
  position: fixed;
  right: 0;
  width: 100px;
  height: 50px;
  background-color: gold;
  color: black;
  border-radius: 2rem;
}