.AddBlog-main-Container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e0f2ed;
    padding: 20px;
}

.AddBlog-Container {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #fefefe;
    border-radius: 15px;
    padding: 20px;
    width: 80%;
    max-width: 800px;
}

.Add-Blog-Image {
    margin-right: 20px;
}

.Add-Blog-Image img {
    width: 100%;
    height: 400px;
    border-radius: 10px;
    object-fit: cover;
}

.AddBlog-Content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.AddBlog-Content input{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    /* width: 100%; */
    box-sizing: border-box;
    text-align: center;
}

.AddBlog-Content input[type="file"] {
    padding: 8px;
}

.AddBlog-Content button {
    width: 220px;
    height: 40px;
    margin-left: 270px;
    border: none;
    border-radius: 5px;
    background-color: #090909;
    border-radius: 1rem;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
.AddBlog-Content h1{
    text-align: center;
    background-color: hsl(0, 3%, 8%);
    border-radius: 1rem;
    color: #e0f2ed;
    border: 2px solid black;
    padding: 10px;
}
.spin{
    animation: spin 1s infinite;

}
@keyframes spin{
    0%{transform:rotateZ(0deg)}
    100%{transform: rotateZ(360deg);}
}