.head_name {
  color: black;
  font-size: x-large;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

#user-but1 {
  margin-left: 40px;
  color: rgb(234, 238, 241);
  width: 250px;
}

#nav-but {
  margin-left: 10px;
  width: 70px;
  height: 35px;
  background-color: black;
  color: beige;
  border-color: black;
  border-radius: 8rem;
}
#nav-but1 {
  margin-left: 10px;
  width: 70px;
  height: 35px;
  background-color: black;
  color: beige;
  border-color: beige;
  border-radius: 8rem;
}

.caption {
  margin-top: 100px;
  text-align: center;
  color: rgb(18, 17, 17);
  font-size: x-large;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.blog_head {
  margin-top: 50px;
  text-align: center;
  font-size: xx-large;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: rgb(247, 245, 243);
  background: #3fd5fb;
  background: linear-gradient(
    223deg,
   #40a9e7 30%,
  #2e94dd 80%
  
  );
}

.search_but_head {
  width: 400px;
  border-color: black;
}
.card-user {
  margin: auto;
  margin-top: 30px;
  margin-bottom: 50px;
  border: 2px solid black;
  border-radius: 15px;
  box-shadow: 5px 10px #888888;
  padding: 10px;
  background: linear-gradient(120deg, #f4f6fc 0%, #e9eafc 100%);
  width: 75%;
  height: auto;
}
#search_but {
  width: 80px;
  height: 55px;
  background-color: rgb(4, 4, 4);
  border-radius: 5rem;
}
.grid_adjust {
  margin-top: 150px;
}
.view-button {
  background-color: #2f0fbd;
  color: rgb(247, 244, 244);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}
.size {
  aspect-ratio: 4/3;
}

.alert-info {
  text-align: center;
  font-size: medium;
  font-weight: bold;
  border-style: dotted;
  animation: myAnim 15s linear 0s infinite alternate none;
}

@keyframes myAnim {
  0% {
    transform: scaleX(0);
    transform-origin: 100% 100%;
  }

  100% {
    transform: scaleX(1);
    transform-origin: 100% 100%;
  }
}


.user-info {
  padding-top: 30px;
  text-shadow: #a3a1a1;
  text-align: center;
  font-size: medium;
  font-weight: bold;
  color: rgb(147, 135, 25);
}

